body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.glyphicon {
  font-size: 50px;
}

.row {
  min-width: 270px;
}

#thumb-up-btn :hover {
  background-color: lightgreen;
}

#thumb-down-btn :hover {
  background-color: lightcoral;
}
